# sensors.c config file

# UART devices are based on the PI hardware UARTs and not from udev rules for USB devices
mic_serial_device=/dev/ttyUSB1
cw1_serial_device=/dev/ttyUSB0
cw2_serial_device=/dev/ttyUSB2

# File names for the telemetry
rt_telem_path=rt_telem.dat
wod_telem_path=wod_telem.dat
cw1_log_path=cw1.dat
cw2_log_path=cw1.dat
mic_log_path=mic.dat

